
/* -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif */
/* html, body {
    
    height: 100%;
    width: 100%;
    
} */

.bold {
    font-weight: 700;
}

.navbar {
    min-height: 90px;
    padding: 0 2% 0 3.5% !important;
    margin: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.navbar-brand {
    font-family: Helvetica !important;
    font-size: 2rem !important;
    font-weight: 700;
}

.collapse {
    padding-left: 2.6%;
}

.nav-item {
    padding: 0 1.5%;
}

.test {
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("./pic/tes4.jpg");
    /* background-image */
    height: 100%;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: 100%; */
    /* overflow: hidden; */
    opacity: 1;
}

.face {
    /* margin-top: -5%; */
    max-width: 240px;
    max-height: 300px;
}

/* div.back {
    width: 100%;
    height: 100%;
    opacity: 1;
    position: relative;
    z-index: 1;
   
}

.back_img {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.1;
} */

@media only screen and (max-width: 600px) {
    div.main {
        margin: 0 0 !important;
      /* background-color: lightblue; */
    }
  }

div.main {
    /* z-index: 5; */
    position: relative;
    font-family: Helvetica;
    /* margin-top: 10%; */
    margin: 9% 15% 0 15%;
    /* margin-bottom: 2%; */
    padding-bottom: 2%;
    /* padding: 2%; */
    max-width: 100%;
    /* max-height: 100%; */
    background-color: #FAF9F9; 
    /* overflow:hidden; */
    /* border-radius: 50px; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    

    /* width: 250px; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    /* text-align: center; */
}
/* ffd6ba bee3db f2e9e4  eaeaea FFF1E6 ffa69e*/

div.top {
    background-color: #BEE3DB;
    margin-top: 0%;
    height: 87.5px;
    padding: 2%;
    /* margin-bottom: 50%; */
}

div.column {
    /* padding-left: 2%; */
    /* max-width: 100%; */
    /* margin-left: -8%; */
    /* width: 100%; */
    margin-left: 2%;
}
/* div.left {
    margin-top: 1%;
    padding: 1% 2.5%;
    width: 30%; 
    float:left
} */

div.left {
    /* margin-top: 5%; */
    padding: 2% 0 0 0;
}



div.right {
    padding-top: 2%;

    padding-right: 3%;
    padding-left: 2%;
    padding-bottom: 3%;
}

div.left_2 {
    padding-left: 1%;
 
    width: 25%; 
    float:left
}
/* div.right {

} */

div.right_2 {
    width: 71%; 
    float:right;
    
}

.name {
    font-family: Helvetica;
    font-size: 5%;
    /* font-weight: 1000; */
    line-height: 1;
    margin-left: -0.5%;
    /* padding-left: -0.5%; */
    padding-top: 0.5%;
    /* margin-top: 5%; */
    /* padding: 2%; */
}

.contact {
    /* margin-top: 10%; */
    /* line-height: 0; */
}

.ig {
    margin: 0% 2.5% 0 1.5%;
    max-width: 12px;
    max-height: 12px;
}

.textlink {
    text-decoration: none;
    /* text-decoration-color: none; */
}

.job {
    margin-top: 5%;
}

.pubs {
    width: 100%;
    height: auto;
    /* padding-top: 2%; */
    /* line-height: 0.5; */
    overflow: auto;
}

.title {
    font-family:  Helvetica;
    font-size: 1rem;
    font-weight: 900;
    /* line-height: auto; */
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
/* 
.long {
    line-height: 1.5;
} */
/* a {
    color: grey;
} */


/* .btn-success, .btn-success:hover, .btn-success:active, .btn-success:visited {
    background-color: black !important;
}

.btn-outline-success, .btn-outline-success:hover, .btn-outline-success:active, .btn-outline-success:visited {
    background-color: black !important;
} */

/* .btn-success,
.btn-success:hover,
.btn-success:active,
.btn-success:visited,
.btn-success:focus {
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
}

.btn-outline-success,
.btn-outline-success:hover,
.btn-outline-success:active,
.btn-outline-success:visited,
.btn-outline-success:focus {
    background-color: #8064A2 !important;
    border-color: #8064A2 !important;
} */

div.container-fluid{position:relative;}
div.container-fluid img{position:absolute;top:0;left:0;z-index:1}
div.container-fluid div.jumbotron{position:relative;z-index:5;color:white;}